*{
    padding: 0;
    margin: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    max-width: 1600px;
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}
.navbar ul li{
    display: inline;
    list-style: none;

}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 2rem;
    font-size: 1rem;
}
hr{
    width: 100%;
    background-color: blue;
}
.btn{
    width: 135px;
    height: 44px;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border-radius: 25px;
    padding: 12px 16px;
    border: none;
}
main .hero-container{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    max-width: 1600px;
    width: 100%;
    height: 760px;
}

main .hero-container .circle{
    position: absolute;
    top: 32%;
    left: 41%;

}
main .hero-container .microphon{
    position: absolute;
    top: 42%;
    left: 49%;
}
main .hero-container .hero-button h1{
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 900;
    margin-top: 40px;
}
main .hero-container .hero-button{
    margin: 492px 525px 101px 525px ;
    text-align: center;
}
main .hero-container .hero-button p{
    font-size: 1rem;
    color: #ffffff;
    margin-top: 8px;
}
main .hero-container button{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
main .hero-container .hero-button .hero-section-button-1{
    width: 201px;
    height: 44px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    margin-top: 24px;
}
main .hero-container .hero-button .hero-section-button-2{
    width: 147px;
    height: 44px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 24px;
    margin-left: 8px;
    margin-bottom: 101px;
}
main .hero-container .microphon-img .badge{
    width: 75px;
    height: 37px;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1000px;
     position: relative;
    left: 58%;
    top: 150px;
    margin-bottom: 101px;
}

.about-section .about-container{
    max-width: 1600px;
    height: 648px;
    background-color: #1A0B2E;
    justify-items: center;
}
.about-section .about-container .abut-detels{
    max-width: 1200px;
    height: 223px;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;

}
.about-section .about-container .abut-detels h1{
    font-size: 3rem;
    font-style: 700;
    margin-bottom: 16px;
}
.about-section .about-container .abut-detels h5,p{
    font-size: 16px;
    font-weight: 400;
}

.about-hr{
    width: 1200px;
    height: 0;
    margin: 80px auto;

}
.Rating-1{
    grid-area: Rating-1;
}
.Rating-2{
    grid-area: Rating-2;
}
.Rating-3{
    grid-area: Rating-3;
}
.Rating-4{
    grid-area: Rating-4;
}
.Rating-container{
    display: grid;
    grid-template-areas: "Rating-1 Rating-2 Rating-3 Rating-4" ;
    text-align: center;
    gap: 80px;
    
}
.Rating{
    margin-left: 80px;
}
.Rating-container .rating-header{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-section .about-container .Rating-container p{
    color: #ffffff;
    font-size: 1rem;
}

.choose-container{
    max-width: 1600px;
    width: 1200pxj;
    height: 1222px;
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px;
    justify-items: center;
}
.choose-section .choose-container h2{
    font-size: 3rem;
    font-style: 700;
    color: #ffffff;
}
.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
.card-container{
    display: grid;
    max-width: 100%;
    height: 783px;
    padding-top: 80px;
    grid-template-areas: "card-1 card-2 card-2"
                         "card-1 card-3 card-3"
                         "card-4 card-4 card-5";

}
.choose-section .choose-container .card-container .card h3{
    color: #ffffff;
    font-size: 1.5rem;
    font-size: 700;
    margin-bottom: 16px;
}
.choose-section .choose-container .card-container .card p{
    color: #ffffff;
    font-size: 1rem;
}
.choose-section .choose-container .card-container .card{
     background-color: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
     padding: 40px;
}
.choose-section .choose-container .card-container .card-1 img{
    padding-top: 107.5px;
}
.choose-section .choose-container .card-container .card img{
    margin-bottom: 16px;
}
.card-1{
    width: 380px;
    height: 557px;
    padding: 40px;
    gap: 16px;

}
.card-2, .card-3{
    width: 790px;
    height: 225px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.card-4{
    width: 790px;
    height: 273px;
}
.card-5{
    width: 380px;
    height: 273px;
}







/* Responsive with Media Queries */
@media screen and (max-width:576px) {
    .navbar{
        max-width: 100%;
        height: 60px;
        padding: 16px 18px ;
    }
    .navbar .logo img{
        width: 137px;
        height: 20px;
    }
    .navbar ul,button{
        display: none;
    }
    .navbar .hamburger-menu{
        content: url(../assets/hamburger-menu.png);
        margin-right: 18px;
    }
    main .hero-container{
        width: 440;
        height: 466px;
        background-position: bottom center;
        background-size: cover;
    }
    main .hero-container .microphon-img .circle{
        width: 200px;
        height: 200px;
        top: 18%;
        left: 30%;
        margin-bottom: 20px;
    }
    main .hero-container .microphon-img .microphon{
        height: 80px;
        top: 25%;
        left: 44%;
    }
    main .hero-container .microphon-img .badge{
        width: 70px;
        height: 35px;
        top: 75px;
        left: 55%;
    }

    
}


