*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    width: 100%;
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
}
.navbar ul li{
    display: inline;
    list-style: none;   
}
header .navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 2rem;
    font-size: 1rem;
    transition: transform 0.7s ease, color 0.5s ease;
}
header .navbar ul li a:hover{
    color: #00FF88;
    transform: scale(1.1);
}
hr{
    width: 100%;
    background-color: blue;
}
.btn{
    width: 135px;
    height: 44px;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border-radius: 25px;
    padding: 12px 16px;
    border: none;
    transition: transform 0.3s ease;
}
.btn:hover {
  transform: scale(1.1);
}
main .hero-container{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 760px;
}

main .hero-container .circle{
    position: absolute;
    top: 28%;
    left: 38%;

}
main .hero-container .microphon{
    position: absolute;
    top: 39%;
    left: 46%;
}
main .hero-container .hero-button h1{
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 900;
    margin-top: 40px;
}
main .hero-container .hero-button{
    margin: 492px 525px 101px 525px;
    text-align: center;
}
main .hero-container .hero-button p{
    font-size: 1rem;
    color: #ffffff;
    margin-top: 8px;
}
#btn-hero{
    display: flex;
}
main .hero-container button{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
main .hero-container .hero-button .hero-section-button-1{
    width: 201px;
    height: 44px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    margin-top: 24px;
    transition: transform 0.3s ease;
}
main .hero-container .hero-button .hero-section-button-2{
    width: 147px;
    height: 44px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 24px;
    margin-left: 8px;
    margin-bottom: 101px;
    transition: transform 0.3s ease;
}
#btn:hover{
    transform: scale(1.1);
}
.hero-section-button-2:hover{
    transform: scale(1.1);
}
main .hero-container .microphon-img .badge{
    width: 75px;
    height: 37px;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1000px;
    position: relative;
    left: 57%;
    top: 175px;
    margin-bottom: 101px;
}

.about-section .about-container{
    width: 100%;
    height: 648px;
    background-color: #1A0B2E;
    justify-items: center;
}
.about-section .about-container .abut-detels{
    width: 100%;
    height: 223px;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;

}
.about-section .about-container .abut-detels h1{
    font-size: 3rem;
    font-style: 700;
    margin-bottom: 16px;
}
.about-section .about-container .abut-detels h5,p{
    font-size: 16px;
    font-weight: 400;
}

.about-hr{
    width: 1200px;
    height: 0;
    margin: 80px auto;

}
.Rating-1{
    grid-area: Rating-1;
}
.Rating-2{
    grid-area: Rating-2;
}
.Rating-3{
    grid-area: Rating-3;
}
.Rating-4{
    grid-area: Rating-4;
}
.Rating-container{
    display: grid;
    grid-template-areas: "Rating-1 Rating-2 Rating-3 Rating-4" ;
    text-align: center;
    gap: 80px;
    
}
.Rating{
    margin-left: 80px;
}
.Rating-container .rating-header{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-section .about-container .Rating-container p{
    color: #ffffff;
    font-size: 1rem;
}



/* why choose section  */

.choose-container{
    display: grid;
    width: 100%;
    justify-content: center;
    background-color: rgba(35, 14, 61, 1);
}
.choose-section .choose-container h2{
    font-size: 3rem;
    font-style: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}
.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
.card-container{
    display: grid;
    width: 100%;
   padding-bottom: 100px;
    padding-top: 80px;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: "card-1 card-2 card-2"
                         "card-1 card-3 card-3"
                         "card-4 card-4 card-5";

}
.choose-section .choose-container .card-container .card h3{
    color: #ffffff;
    font-size: 1.5rem;
    font-size: 700;
    margin-bottom: 16px;
}
.choose-section .choose-container .card-container .card p{
    color: #ffffff;
    font-size: 1rem;
}
.choose-section .choose-container .card-container .card{
     background-color: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
     padding: 40px;
}
.choose-section .choose-container .card-container .card-1 img{
    padding-top: 107.5px;
}

.card-1{
    width: 380px;
    padding: 40px;
}
.card-2, .card-3{
    width: 790px;
}
.card-4{
    width: 790px;
}
.card-5{
    width: 380px;
}




/* Episode section  */
.episodes-section {
    width: 100%;
    background-color: rgba(26, 11, 46, 1);
    text-align: center;
}
.episodes-container{
    padding-bottom: 100px;
}
.episodes-section .episodes-container h2{
    font-size: 3.12rem;
    font-weight: 700;
    line-height: 58px;
    color: #ffffff;
    margin-bottom: 40px;
}
.epsoeds{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.epsoeds .episodes-card{
    width: 380px;
    border-radius: 24px;
    padding-bottom: 40px;
    background-color: rgba(37, 13, 68, 1);
    text-align: left;
    transition: transform 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease;
}
.epsoeds .episodes-card:hover{
    margin-left: 30px;
    margin-right: 30px;
    transform: scale(1.1);
}
.epsoeds .episodes-card iframe{
    width: 380px;
    height: 214px;
    border-radius: 24px 24px 0px 0px;
    padding: 0;
}
.epsoeds .episodes-card .epsoeds-ditels{
    width: 380px;
}
.epsoeds .episodes-card .epsoeds-ditels h3{
    font-size: 1.5rem;
    color: #ffffff;
    padding: 24px 24px 0 24px;
    font-weight: 700;

}
.epsoeds .episodes-card .epsoeds-ditels p{
    font-size: 1rem;
    color: #ffffff;
    padding: 0 24px 0 24px;
    margin-top: 12px;
    font-weight: 400;
    line-height: 24px;
}
.epsoeds .episodes-card .epsoeds-ditels h5{
    padding: 12px 24px 0 24px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;

}
.epsoeds .episodes-card .epsoeds-ditels h5::before{
    content: url(../assets/clock.png);
    margin-right: 5px;
}
.host-heder h1{
    font-size: 3rem;
    color: #ffffff;
    margin-top: 120px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 40px;
}
.host-sction{
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 40px;
    width: 1200px;
    background-color: rgba(53, 17, 101, 0.4);
}
.host-img{
    padding-left: 50px;
}
.host-img img{
    width: 300px;
}
.host-sction .host-detels{
    text-align: left;
    padding: 40px;
}
.host-sction .host-detels h2{
    font-size: 2rem;
    margin-bottom: 16px;
}
.host-sction .host-detels p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 16px;
}
.host-sction .host-detels .logo .logo-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.host-sction .host-detels .logo .logo-size:hover{
    background-color: #00FF88;
    transform: scale(1.1);
}
.host-sction .host-detels .logo{
    display: flex;
    gap: 8px;
}
.footer-section{
    width: 100vw;
    background-image: url(../assets/footer-bg.png);
    justify-items: center;
    padding: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
}
.footer-section .footer-logo img{
    margin-bottom: 32px;
}
.footer-section .footer-logo-section ul li{
    list-style: none;
    margin-right: 40px;
    display: inline;
    transition: transform 0.7s ease, color 0.5s ease;
}
.footer-section .footer-logo-section ul li:hover{
    color: #00FF88;
    transform: scale(1.1);
}
.footer-section .footer-logo-section ul li img{
    margin-right: 8px;
    transition: transform 0.7s ease;
}
.footer-section .footer-logo-section ul li img:hover{
    transform: scale(1.3);
}
.footer-section .footer-logo-section p{
    margin-top: 32px;
}
.footer-section .footer-logo-section ul li{
    color: #ffffff;
    font-weight: 500;
}
.footer-section .footer-logo-section p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    
}

/* Small device: up to 576 px */
@media screen and (max-width: 576px){
        *{
        overflow-x: hidden;
    }
    .navbar{

        height: 60px;
        padding: 16px 20px;
        overflow-x: hidden;
    }
    .navbar .logo img{
        width: 137px;
        height: 20px;
    }
    .navbar ul li, .btn{
        display: none;
    }
    .navbar .hamburger-menu{
        background-image: url(../assets/hamburger-menu.png);
        margin-right: 18px;
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
    }
    main .hero-container{
        height: 476px;
    }
    main .hero-container .circle{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 15%;
        left: 32%;
    }
    main .hero-container .microphon{
        width: 80px;
        position: absolute;
        top: 19%;
        left: 43%;
    }
    main .hero-container .microphon-img .badge{
        width: 70px;
        height: 35px;
        color: #1A0B2E;
        background-color: #00FF88;
        padding: 5px 14px;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 1000px;
        position: absolute;
        top: 15%;
    }
    main .hero-container button{
    color: #ffffff;
    font-size: 1;
    font-weight: 500;
    }
    main .hero-container .hero-button .hero-section-button-1{
    width: 201px;
    height: 44px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    margin-top: 24px;
    }
    main .hero-container .hero-button .hero-section-button-2{
    width: 201px;
    height: 44px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 24px;
    margin-left: 8px;
    margin-bottom: 101px;
    }
    main .hero-container .hero-button h1{
        color: #ffffff;
        font-size: 1.75rem;
        font-weight: 900;
        margin-top: 10px;
    }
    main .hero-container .hero-button{
        margin: 290px 42px 50px 42px;
        text-align: center;
        position: absolute;
    }
    main .hero-container .hero-button p{
        font-size: 0.5rem;
        color: #ffffff;
        margin-top: 2px;
    }
    #btn-hero{
        display: flex;
    }
    main .hero-container button{
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .about-section .about-container{
    width: 440;
    height: 580px;
    padding: 10px;
    }
    .about-section .about-container .abut-detels{
        justify-content: space-around;
        padding-top: 35px;
    }
    .about-section .about-container .abut-detels h1{
    font-size: 1.75rem;
    font-style: 700;
    }
    .about-section .about-container .abut-detels h5,p{
    font-size: 0.75rem;
    font-weight: 400;
    }
    .about-hr{
    width: 400px;
    height: 0;
    margin: 40px auto;
    }
    .Rating-container{
    display: grid;
    grid-template-areas: "Rating-1 Rating-2"
                         "Rating-3 Rating-4";
    justify-items: center;
    gap: 30px;
    }
    .choose-container{
    width: 100%;
    height: 1450px;
    background-color: rgba(35, 14, 61, 1);
    padding: 0 20px;
    align-items: center;
    overflow-y: hidden;
    }
    .choose-section .choose-container h2{
    font-size: 2rem;
    font-style: 700;
    color: #ffffff;
    padding: 40px 20px 16px 20px;
    }
    .card-container{
        display: grid;
        grid-template-areas: "card-1"
                            "card-2"
                            "card-3"
                            "card-4"
                            "card-5";
    }
    .choose-section .choose-container .card-container .card h3{
        color: #ffffff;
        font-size: 1.5rem;
        font-size: 700;
        margin-bottom: 16px;
    }
    .choose-section .choose-container .card-container .card-1 img{
    padding-top: 8px;
    }
    .choose-section .choose-container .card-container .card img{
    margin-bottom: 8px;
    }
    .card-1{
    width: 400px;
    height: 300px;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 30px;
    text-align: left;
    }
    .card-2, .card-3{
    width: 400px;
    height: 215px;
    margin-bottom: 30px;
    text-align: left;
    }
    .card-4{
    width: 400px;
    height: 331px;
    text-align: left;
    margin-bottom: 30px;
    }
    .card-5{
    width: 400px;
    height: 215px;
    text-align: left;
    }


}

