*{
    padding: 0;
    margin: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    max-width: 1600px;
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}
.navbar ul li{
    display: inline;
    list-style: none;

}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 2rem;
    font-size: 1rem;
}
hr{
    width: 100%;
    background-color: blue;
}
.btn{
    width: 135px;
    height: 44px;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    border-radius: 25px;
    padding: 12px 16px;
    border: none;
}
main .hero-container{
    background-image: url(../assets/hero-bg.png);
    max-width: 1600px;
    width: 100%;
    height: 760px;
}

main .hero-container .circle{
    position: absolute;
    top: 32%;
    left: 41%;

}
main .hero-container .microphon{
    position: absolute;
    top: 42%;
    left: 49%;
}
main .hero-container .hero-button h1{
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 900;
    margin-top: 40px;
}
main .hero-container .hero-button{
    margin: 492px 525px 101px 525px ;
    text-align: center;
}
main .hero-container .hero-button p{
    font-size: 1rem;
    color: #ffffff;
    margin-top: 8px;
}
main .hero-container button{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
main .hero-container .hero-button .hero-section-button-1{
    width: 201px;
    height: 44px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    margin-top: 24px;
}
main .hero-container .hero-button .hero-section-button-2{
    width: 147px;
    height: 44px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-top: 24px;
}
